node_modules

# Ignore all .npy and .json files inside MedCPT_Embeddings
MedCPT_Embeddings/*.npy
MedCPT_Embeddings/*.json

# Ensure the MedCPT_Embeddings directory is not ignored by including a placeholder
!MedCPT_Embeddings/.gitkeep

# Ignore all .db files inside Local_DB
Local_DB/*.db

# Do not track __pycache__ folder
pycodes/__pycache__

# Do not track Logs folder
pycodes/__pycache__